.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.navbar-default {
	background-color: #bfbfbf;
	border-color: #bfbfbf;
}

.text {
	color: #333333;
}

.img-logo {
	height: 150px;
	width: auto;
}

.table-wight {
	width: 100%
}

.table-form {
	border: 2px solid black
}

/* G�n�ral ------------------------------------------------------------------------------------- */
body, p, legend, label, input {
	font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset {
	padding: 10px;
	border: 1px #169300 solid;
}

legend {
	font-weight: bold;
	color: #169300;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}

table#t01 tr:nth-child(even) {
	background-color: #eee;
}

table#t01 tr:nth:child(odd) {
	background-color: #fff;
}

table#t01 th {
	background-color: #169300;
	color: white;
}

legend#l01 {
	font: normal 15pt verdana;
}

/* Forms --------------------------------------------------------------------------------------- */
form label {
	float: left;
	width: 200px;
	margin: 3px 0px 0px 0px;
}

form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}

form input.sansLabel {
	margin-left: 200px;
}

.requis {
	color: #d60000;
}

.info {
	color: #ffa500;
}

.erreur {
	color: #d60000;
}

body {
	padding-top: 10px;
}

[class*="col-"], footer {
	background-color: lightgreen;
	border: 2px solid black;
	border-radius: 6px;
	line-height: 40px;
	text-align: center;
}

@media ( min-width : 768px) {
	.container {
		width: 70%;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 70%;
	}
}

@media ( min-width : 1200px) {
	.container {
		width: 70%;
	}
}