<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>LoginJuge</servlet-name>
		<servlet-class>com.cptbloc.servlet.LoginJuge</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginJuge</servlet-name>
		<url-pattern>/Log-in</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IndexJuge</servlet-name>
		<servlet-class>com.cptbloc.servlet.IndexJuge</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IndexJuge</servlet-name>
		<url-pattern>/Index-Juge</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IndexPublic</servlet-name>
		<servlet-class>com.cptbloc.servlet.IndexPublic</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IndexPublic</servlet-name>
		<url-pattern>/Index-Public</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResumeNvJuge</servlet-name>
		<servlet-class>com.cptbloc.servlet.ResumeNvJuge</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ResumeNvJuge</servlet-name>
		<url-pattern>/Resume-Nv-Juge</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ConnexionJuge</servlet-name>
		<servlet-class>com.cptbloc.servlet.ConnexionJuge</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConnexionJuge</servlet-name>
		<url-pattern>/Sign-in</url-pattern>
	</servlet-mapping>
	
</web-app>